* {
  border: none;
  margin: 0;
}

body {
  margin: 0;
  height: calc(100vh + 50vh);
  width: 100vw;
  font-weight: 100;
  background-image: linear-gradient(
    to left top,
    #3a393a,
    #483f4b,
    #54455f,
    #5c4d75,
    #5f568d,
    #5f5a9e,
    #5d5fb0,
    #5864c3,
    #5864d1,
    #5963e0,
    #5c61ed,
    #605ffb
  );
  -webkit-overflow-y: scroll;
  -moz-overflow-y: scroll;
  -o-overflow-y: scroll;
  overflow-y: scroll;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}

